header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 27px 0 27px;
  height: 56px;
  background-color: rgb(15, 15, 15);
  z-index: 100;
}

.left-part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin-right: 95px;
}
.menu-icon{
 height: 22px; 
 margin-right:22px;
}

.youtube-logo-box{
 display: flex;
 align-items: center;
 font-family: Oswald;
 font-size: 22px;
}

.youtube-logo{
  height: 30px;
  margin-right: 2px;
}

.middle-part{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-bar{
  padding-left: 20px;
  font-size: 17px;
  font-weight: 540;
  background-color: rgb(17, 17, 17);
  border: none;
  height: 42px;
  width: 0;
  flex: 1;
  max-width: 550px;
  border-top-left-radius:20px;
  border-bottom-left-radius: 20px;
  border: 1px solid rgb(63, 60, 60);
}

.search-bar::placeholder {
 color: rgb(95, 95, 95);
}

.search-icon-box{
 background-color: rgb(32, 32, 32);
 padding: 6px 20px;
 border: 1px solid rgb(63, 60, 60);
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 margin-left: -1px;
 margin-right: 18px;
}

.search-icon{
 height: 24px;
}

.voice-search-box{
 background-color: rgb(37, 37, 37);
 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 20px;
 margin-right: 13px;
}
.voice-search{
  height: 24px;

}

.right-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.create-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(36, 35, 35);
  font-size: 14px;
  font-weight: 550;
  height: 34px;
  padding-right: 15px;
  border-radius: 17px;
}

.plus-icon{
  height: 16px;
  margin: 0 10px 0 15px;}

.notification-bell{
  height: 26px;
}

.account-profile-pic{
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 12px;
}

